.alert {
    padding: 15px;
    border: 1px solid #484a47;
    border-radius: 4px;
    color: #3c4c2f;
    background-color: #e4cc9c;
    text-align: center;
    font-size: 16px;
    text-align: left;
    line-height: 0.5;
}

.list {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100px;
}

.title {
    text-align: center;
}